body{
    background-color: beige;
}

.row td{
    border: 1px solid; 
}
th {
    border: 1px solid;
    background-color: #ff4757;
}
tr{
    border: 1px solid;
}
table{
    border: 1px solid;
}